:root {
    --textcolor: snow;
    --backgroundcolor: #404040;
    --headerbackground: #202020;
    --headerborder: solid black;
    --buttoncolor: orchid;
    --buttonborder: 2px solid hotpink;
}

body {
    margin: 0px;
    color: var(--textcolor);
    background-color: var(--backgroundcolor);
}

header, footer {
    text-align: center;
    background-color: var(--headerbackground);
}

header {
    border-bottom: var(--headerborder);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    border-top: var(--headerborder);
    padding: 1.5em;
}

main {
    margin: 0.5em;
}

h1 {
    margin: 0px;
}

h3 {
    font-family: "Times New Roman", Times, serif;
}

header section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p span {
    float: right;
}

nav {
    padding: 1em;
}

nav a, #rightbutton {
    text-decoration: none;
    color: var(--textcolor);
    background-color: var(--buttoncolor);
    border-left: var(--buttonborder);
    border-right: var(--buttonborder);
    padding: 1em;
    margin: 0em 0.5em;
}

footer a {
    text-decoration: none;
    color: var(--textcolor);
    background-color: var(--buttoncolor);
    border: var(--buttonborder);
    padding: 1em;
    margin: 0em 1em;
    border-radius: 1em;
}

#rightbutton {
    position: relative;
    display: inline-block;
}

nav a:hover, footer a:hover, #rightbutton:hover {
    background-color: indianred;
    border-color: darkred;
}

.dropdown p {
    display: none;
    position: absolute;
    background-color: var(--buttoncolor);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#rightbutton:hover .dropdown {
    display: block;
}

.handwritten {
    font-family: "Brush Script MT", cursive;
}

.animated {
    animation: 5s infinite alternate travel;
}

.grid {
    font-family: muthur, monospace;
    display: grid;
    justify-content: left;
    align-content: center;
    grid-template-areas: 'header header header' 'left middle right';
}

.headergrid {
    grid-area: header;
    font-family: "Times New Roman", Times, serif;
}

.leftgrid {
    grid-area: left;
}

.middlegrid {
    grid-area: middle;
}

.rightgrid {
    grid-area: right;
}

#bio {
    overflow: auto;
    margin: 1em;
}

#bio > picture {
    float: left;
    margin-right: 2em;
}

#UCSDMap {
    border: 1px solid black
}


@font-face {
    font-family: muthur;
    src: url(../fonts/Berthold_City_Light.otf);
}

@keyframes travel {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 30%;
    }
}
