/* Define all of the global variables so they can be changed in main.js */
:root {
    --textcolor: snow;
    --textfont: "Times New Roman", Times, serif;
    --backgroundcolor: #404040;
    --headerbackground: #202020;
    --headerborder: solid black;
    --headercolor: snow;
    --headerfont: "Times New Roman", Times, serif;
    --buttoncolor: rebeccapurple;
    --buttonborder: 2px solid indigo;
    --hoverbackground: indianred;
    --hoverborder: darkred;
    --fancyfont: "Brush Script MT", cursive;
    --terminalfont: muthur, monospace;
}

body {
    margin: 0px;
    color: var(--textcolor);
    background-color: var(--backgroundcolor);
    font-family: var(--textfont);
}

header, footer {
    text-align: center;
    background-color: var(--headerbackground);
    font-family: var(--headerfont);
    color: var(--headercolor);
}

header {
    border-bottom: var(--headerborder);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    border-top: var(--headerborder);
    padding: 1.5em;
}

main {
    margin: 0.5em;
    min-height: 800px;
}

h1 {
    margin: 0em;
    width: 10em;
    display: inline-block;
}

iframe {
    height: 450px;
    width: 600px;
}

p span {
    float: right;
}

/* Decorate header and footer buttons */
nav a, .dropBtn {
    text-decoration: none;
    color: var(--headercolor);
    background-color: var(--buttoncolor);
    border-left: var(--buttonborder);
    border-right: var(--buttonborder);
    padding: 1em 0em;
    width: 6em;
    margin: 0em 0.5em;
    display: inline-block;
}

.dropBtn {
    margin: 0em;
    width: 12em;
}

footer a {
    text-decoration: none;
    color: var(--headercolor);
    background-color: var(--buttoncolor);
    border: var(--buttonborder);
    padding: 1em;
    margin: 0em 1em;
    border-radius: 1em;
}

/* Dropdown button shows themes when hovered over */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0em 1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}

.dropdown-content p {
    color: var(--headercolor);
    border: var(--buttonborder);
    background-color: var(--buttoncolor);
    width: auto;
    height: 1em;
    padding: 1em 0em;
    margin: 0px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav a:hover, footer a:hover, .dropBtn:hover, .dropdown-content p:hover {
    background-color: var(--hoverbackground);
    border-color: var(--hoverborder);
}

.links {
    overflow: auto;
}

.links a {
    width: 33%;
    text-decoration: none;
    float: left;
    margin: 2em 0em;
}

.links img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links img:hover {
    box-shadow: 5px 5px 5px var(--textcolor);
}

.handwritten {
    font-family: var(--fancyfont);
}

.animated {
    animation: 5s infinite alternate travel;
}

/* have a grid of lists */
.grid {
    font-family: var(--terminalfont);
    display: grid;
    justify-content: left;
    align-content: center;
    grid-template-areas: 'header header header' 'left middle right';
}

.headergrid {
    grid-area: header;
    font-family: var(--textfont);
}

.leftgrid {
    grid-area: left;
}

.middlegrid {
    grid-area: middle;
}

.rightgrid {
    grid-area: right;
}

.bio {
    overflow: auto;
    margin: 1em;
}

.bio picture {
    float: left;
    margin-right: 2em;
}

#UCSDMap {
    border: 2px solid var(--textcolor);
}

#email {
    text-decoration: none;
    color: var(--textcolor);
}

#email:hover {
    text-shadow: 2px 2px 5px var(--textcolor);
}

/* Split the links from three to two if there isn't enough room */
@media screen and (max-width: 1550px) {
    .links a {
        width: 50%;
    }
}

/* Make the links only be one column if we can't fit two */
@media screen and (max-width: 1050px) {
    .links a {
        width: 100%;
    }
}

/* If the screen is small, change everything that flowed left to right so it flows up to down */
@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
    }

    iframe {
        width: 100%;
    }

    .links {
        min-height: 0px;
    }

    .dropdown, nav {
        margin: 0em;
        width: 100%;
    }

    nav a, .dropBtn {
        border-top: var(--buttonborder);
        border-bottom: var(--buttonborder);
        border-left: 0px;
        border-right: 0px;
        margin: 0em;
        width: 100%;
        display: block;
    }

    .dropdown-content {
        position: static;
    }

    .bio picture {
        float: none;
    }
}

/* Import downloaded fonts */
@font-face {
    font-family: muthur;
    src: url(../fonts/Berthold_City_Light.otf);
}

@font-face {
    font-family: aurebesh;
    src: url(../fonts/Aurebesh_Condensed.otf);
}

/* Simple CSS animation */
@keyframes travel {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: 30%;
    }
}
